{% include 'header.html' %}
<script>
    function validatePassword() {
        var pwd = document.getElementById("pwd").value;
        var cpwd = document.getElementById("cpwd").value;

        var pwdRegex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{6,})/;
        
        if (!pwdRegex.test(pwd)) {
            document.getElementById("pwd-error").innerHTML = "Password should contain at least 6 characters including one special character and one alphanumeric character.";
            document.getElementById("pwd-error").style.color = "red";
            return false;
        } else {
            document.getElementById("pwd-error").innerHTML = "";
        }

        if (pwd !== cpwd) {
            document.getElementById("cpwd-error").innerHTML = "Passwords do not match.";
            document.getElementById("cpwd-error").style.color = "red";
            return false;
        } else {
            document.getElementById("cpwd-error").innerHTML = "";
        }

        return true;
    }
</script>


<div class="card shadow m-5">
    <div class="card-body">
       <h5 class="p-2 text-danger" style="border-bottom:2px solid orange;">Create an Account</h5>

       <div class="container-fluid">
        <form method="post" name="signup" onsubmit="return validatePassword()">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter first Name" pattern="[A-Za-z]+" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter last Name" pattern="[A-Za-z]+" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">User ID</label>
                        <input type="text" name="empcode" class="form-control" placeholder="Enter User Id" pattern="[0-9]+" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Email Id</label>
                        <input type="email" name="email" class="form-control" placeholder="Email id"  required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" name="pwd" id="pwd" class="form-control" placeholder="Enter Password" required>
                        <span id="pwd-error" class="error-message"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" name="cpwd" id="cpwd" class="form-control" placeholder="Enter Password again" required>
                        <span id="cpwd-error" class="error-message"></span>
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
        </form>
       </div>
    </div>
</div>

{% if error == "no" %}
    <script>
        alert('Registration Successful');
        window.location.href = "/email-sent/";
    </script>
{% endif %}
{% if error == "yes" %}
    <script>
        alert('User already exits!!');
    </script>
{% endif %}

